.article {
  display: flex;
  position: relative;
  box-sizing: border-box;
  max-width: 650px;
  max-height: 390px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: white;
  padding: 20px;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &-image {
      position: relative;
      max-width: 252px;
      width: 100%;
      height: 100%;
      border-radius: 10px;

      img {
        width: 100%;
        border-radius: 10px;
      }

      &-btn {
        position: absolute;
        z-index: 2;
        top: 5%;
        left: 27%;
      }

      &-author {
        position: absolute;
        z-index: 2;
        top: 85%;
        display: flex;
        flex-direction: row;
        width: 100%;

        img {
          border-radius: 100%;
        }

        &-text {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          width: 100%;
          margin-left: 7px;

          h3 {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 17px;
            color: #0E0F0F;
            margin: 0;
            word-spacing: 5000px;
          }
        }
      }
    }

    &-image:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: transparent;
      transform: rotate(-180deg);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
    }

    &-content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      max-height: 100%;
      padding-left: 20px;
      box-sizing: border-box;

      &-text {
        width: 100%;
        height: 100%;
        overflow-x: hidden;

        h3 {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 20px;
          color: #44B7C7;
          margin: 0 0 20px 0;
        }

        h4 {
          font-family: Comfortaa Light;
          font-size: 16px;
          line-height: 18px;
          color: #202222;
          margin: 0;
        }
      }
      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;

        &-social {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 55%;
        }
      }
    }
  }
};

.article-isAuth {
  width: 12%;
}
