.wise-auth-popup {
  position: absolute;
  z-index: 2;
  top: 100px;
  right: 100px;
  background-color: $white;
  @include border-radius(15px);
  padding: 32px 28px 14px 28px;

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
