.wise-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  position: relative;

  &-footer {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #898989;
  }

  &-icon {
    cursor: pointer;
    &__text {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
      color: #898989;
      margin-left: 10px;
    }
    &__moodBoard {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #44B7C7;
      margin-left: 7px;
    }
    &__avatar {
      max-height: 43px;
      height: 100%;
      max-width: 43px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      filter: drop-shadow(-0.5px -1px 2px rgba(255, 255, 255, 0.4));
      filter: drop-shadow(0.5px 1px 2px rgba(0, 0, 0, 0.4));

      img {
        height: 100%;
        border-radius: 100%;
      }
    }
  }

  &-icon-header {
    height: 42px;

    > [class^="icon-"] {
      max-width: 42px;
      width: 100%;
      border-radius: 15px;
      background: #F1F1F1;
      padding: 12px;
    }
  }

  &-icon-footer {
    &__text {

    }
  }
}

.wise-button-standard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  height: 34px;

  font-family: Comfortaa, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #202222;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.wise-button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  height: 34px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #44B7C7;
  background: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1.5px solid #44B7C7;
  cursor: pointer;
}

.wise-button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  height: 34px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: white;
  background: #44B7C7;
  border-radius: 10px;
  //box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.wise-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #44B7C7;
  background: none;
  border: none;
}

.badges {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: -3px;
  left: 30px;
  background: #44B7C7;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: white;
  border-radius: 100%;
  text-align: center;
}
