.#{$project-class}-card {
  min-height: 375px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-family: 'Comfortaa Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #202222;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: 'Comfortaa Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #202222;
  }
  .card-btn {
    display: flex;
    justify-content: center;
  }
}
