.footer {
  max-height: 283px;
  height: 100%;
  background: white;
  padding-top: 40px;
  box-sizing: border-box;

  h3 {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #44B7C7;
    margin: 0 0 25px 0;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &-list {
      display: flex;
      flex-direction: column;
      max-width: 175px;
      width: 100%;
      max-height: 250px;
      height: 100%;

      &-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 120px;
        width: 100%;
        margin-bottom: 14px;
      }

      &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
      }

      &__links > button {
        margin: 0 0 14px 0;
      }

      &-icons {
        display: flex;
        flex-direction: row;
        align-items: center;

      }
    }
  }
}
