.wise-header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 75px;
  width: 100%;
  margin-bottom: 70px;
  z-index: 1;
  &-wrapper {
    display: flex;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;

    &__title {
      margin-left: 13px;
    }

    &__iconMedia {
      margin-left: 56px;
      margin-right: 14px;
    }
    .active:before {
      color: #44B7C7;
    }
    &__iconMedia:hover {
      transform: scale(1.1);
    }
    &__iconSettings:hover {
      transform: scale(1.1);
    }

    &__iconBell {
      margin-right: 14px;
    }
    &__iconBell:hover {
      transform: scale(1.1);
    }

    &__iconMessage {
      margin-right: 14px;
    }
    &__iconMessage:hover {
      transform: scale(1.1);
    }

    &__iconLogo {
      margin-right: 44px;
    }
    &__iconLogo:hover {
      transform: scale(1.1);
    }

    &__search {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      max-width: 615px;
      width: 100%;
      height: 39px;
      border: 1.5px solid #F1F1F1;
      border-radius: 15px;
      padding-left: 14px;

      .autocomplete {
        position: absolute;
        left: -1px;
        top: -2px;
        width: 100%;
        background: white;
        border: 1.5px solid #F1F1F1;
        box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
        border-radius: 15px;
        list-style: none;
        margin: 0;
        padding: 30px 0 0 0;
        max-height: 175px;
        height: auto;
        overflow: auto;
        z-index: 1;

        &__item {
          padding: 10px 14px 10px 14px;
        }
      }
    }

    &__btnLogin {
      margin-right: 22px;
    }

    &__user {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 42px;
      width: 100%;
      height: 42px;
      border-radius: 100%;
      background: black;
      margin-left: 34px;
    }
    &__userIsAuth {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 42px;
      width: 100%;
      height: 42px;
      border-radius: 100%;
      background: #44B7C7;
      margin-left: 34px;
    }
  }
}

.marginSearch {
  margin-left: 211px;
  margin-right: 107px;
}

.marginSearchIsAuth {
  margin-left: 57px;
  margin-right: 83px;
}

.z-index {
  z-index: 2;
}
