.menu {
    font-size: 1rem;
    position: absolute;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba($black, 0.15);
    border-radius: 0.125em;
    box-shadow: 0 0.125em 0.5em 0 rgba($black, 0.32);
    padding: 0.5em 0;
    z-index: 1301;
    user-select: none;
    visibility: hidden;

    &--loading {
        .loading__wrapper {
            display: block;
        }
    }

    &__header {
        &--segmented {
            display: flex;
        }
    }

    &__item {
        display: flex;
        white-space: nowrap;
        padding: 0.75em 1em;
        outline: none;
        align-items: center;

        &:not([disabled]):not(.disabled):not(:disabled):focus {
            //@include focusable-mixin(0.125em, true);
        }

        &:hover:not(&--divider):not(&--header),
        &--selected {
            background-color: rgba($primary, 0.08);
        }

        &:hover:not(&--divider):not(&--header) {
            cursor: pointer;
        }

        &--divider {
            padding: 0;
        }

        &--header {
            font-size: 0.75em;
            padding: 0.75em 1.3em;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item,
    &__list {
        outline: none;
    }

    &__icon {
        display: inline-flex;
        min-width: 1rem;
        flex-shrink: 0;
        margin-right: 1rem;
    }

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

[dir='rtl'] {
    .menu {
        &__icon {
            margin-left: 1rem;
            margin-right: 0;
        }
    }
}
