.moodBoardCard {
  display: flex;
  position: relative;
  box-sizing: border-box;
  max-width: 650px;
  max-height: 390px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: white;
  padding: 20px;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &-image {
      max-width: 100%;
      border-radius: 10px;
    }

    &-header {
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      &-text {
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;

        h3 {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 22px;
          color: #0C0D0D;
          margin: 0 0 3px 0;
        }

        h4 {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 18px;
          color: #0C0D0D;
          margin: 0;
        }
      }

      &-author {
        display: flex;
        flex-direction: row;
        width: 100%;
        &-text {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;
          width: 100%;
          text-align: end;

          h3 {
            font-family: Comfortaa;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            color: #0C0D0D;
            margin: 0;
            word-spacing: 5000px;
          }
        }
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin-top: 20px;

      &-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 31%;
      }
    }
  }
};

.moodBoardCard-isAuth {
  margin-right: 25px;
}
