.podcast {
  display: flex;
  position: relative;
  box-sizing: border-box;
  max-width: 650px;
  max-height: 390px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: white;
  padding: 20px;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &-image {
      position: relative;
      max-width: 350px;
      width: 100%;
      height: 100%;
      border-radius: 10px;

      img {
        width: 100%;
        border-radius: 10px;
      }

      &-btn {
        position: absolute;
        z-index: 2;
        top: 5%;
        left: 5%;
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        z-index: 2;
        max-height: 32px;
        padding: 0 20px;

        &-author {
          display: flex;
          flex-direction: row;
          width: 100%;

          img {
            border-radius: 100%;
          }

          &-text {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            margin-right: 13px;

            h3 {
              font-family: Comfortaa;
              font-style: normal;
              font-weight: bold;
              font-size: 17px;
              line-height: 17px;
              text-align: right;
              color: #0E0F0F;
              margin: 0;
              word-spacing: 5000px;
            }
          }
        }
      }
    }

    &-image:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: transparent;
      transform: rotate(-180deg);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
    }

    &-content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 70%;
      max-height: 100%;
      padding-left: 20px;
      box-sizing: border-box;

      &-text {
        width: 100%;
        height: 100%;
        overflow-x: hidden;

        h3 {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 20px;
          color: #202222;
          margin: 0 0 10px 0;
        }

        h4 {
          font-family: Comfortaa Light;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 18px;
          color: #202222;
          margin: 0 0 15px 0;
        }
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;

        &-social {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 62%;
        }
      }
    }
  }
}

.podcast-isAuth {
  width: 20%;
}
