.search-box {
  $self: &;

  font-size: 1rem;
  align-items: center;
  background-color: $white;
  max-width: 615px;
  width: 100%;
  height: 42px;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  &,
  &__actions,
  &__body,
  &__button,
  &__input,
  &__icon {
    display: flex;
  }

  &__body {
    margin: 0;
    flex: auto;
    border-radius: 15px;
    align-items: center;

    //.spinner-border {
    //    width: 1.8rem;
    //    height: 1.8rem;
    //    border: 0.15em solid currentColor;
    //    border-right-color: transparent;
    //    border-radius: 50%;
    //    -webkit-animation: spinner-border 0.75s linear infinite;
    //    animation: spinner-border 0.75s linear infinite;
    //}
  }

  &__actions {
    justify-content: center;
    padding-left: 14px;
    z-index: 2;

    .btn:not(:disabled):not(.disabled) {
      &:focus,
      &.focus {
        outline: 0;
      }
    }
  }

  &__icon {
    height: 100%;
    padding: 0.625rem 0 0.625rem 0.75rem;
    align-items: center;

    &--mobile {
      order: 1;
      padding: 0.625rem 0.75rem;
    }
  }

  &__body {
    height: 100%;
    border: 1.5px solid #F1F1F1;
  }

  &__input,
  &__placeholder {
    font-size: 0.75rem;
  }

  &__placeholder {
    @extend %input-placeholder;
    padding: 0.5em 0.8em;
  }

  &__input {
    @extend %input;
    box-sizing: border-box;
    flex: auto;
    padding: 0.8em;
  }

  &__button {
    //&--clean,
    &--search {
      padding: 0.833333333em 1em;
    }
  }

  //List CSS
  &__list {
    .list-group-item {
      border: none;
      padding: 0.8125rem 1rem;
    }

    &__item {
      height: 3rem;
      line-height: 3rem;

      &:hover {
        background-color: $white;
        cursor: pointer;
      }
    }

    &__label {
      line-height: 0.9375rem;
      margin-bottom: 0;
      font-size: 0.75rem;
      padding-left: 1.25em;

      &:hover {
        background-color: $white;
        cursor: context-menu;
      }

      &:not(:first-child) {
        border-top: 0.0625rem solid $gray-athens;
      }
    }

    .highlight-text {
      color: $primary;
    }
  }

  @keyframes spinner-border {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &--mobile {
    #{$self} {
      &__button--clean {
        order: 3;
      }

      &__input,
      &__placeholder {
        padding-left: 0;
        padding-right: 0;
      }

      &__input-container {
        order: 2;
      }
    }
  }

  &__input-container {
    position: relative;
    flex-grow: 1;

    #{$self}__input {
      width: 100% !important;
    }
  }
}

html[dir='rtl'] {
  .search-box {
    &__body {
      border-radius: 0 0.125em 0.125em 0;
    }

    &__actions {
      border-radius: 0.125em 0 0 0.125em;
      margin-left: 0;
      margin-right: -1px;
    }
  }
}

.search-list {
  display: flex;
  position: absolute;
  max-height: 250px;
  height: 100%;
  width: 100%;
  top: -2px;
  left: -3px;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
  border: 1.5px solid #F1F1F1;
  border-radius: 15px;
  background: white;
  padding-top: 30px;
  margin: 0;
}

.marginSearch {
  margin-left: 211px;
  margin-right: 107px;
}

.marginSearchIsAuth {
  margin-left: 57px;
  margin-right: 83px;
}

.icon-search-blue:hover:before {
  color: #44B7C7;
}
