
.slides {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 375px;
  //background-color: #44B7C7;
  border-radius: 15px;
  margin-bottom: 70px;

  div:focus-visible {
    outline: none;
  }

  &-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 220px;
    width: 100%;
    overflow-x: hidden;

    h3 {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
      color: #202222;
      margin: 0 0 6px 0;
    }

    h4 {
      font-family: Comfortaa Light;
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      color: #202222;
      margin: 0;
    }
  }
}
.slick-slider {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;
  height: 100%;

  margin: 0;
  padding: 0;
  border-radius: 15px;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.slick-slide video {
  width: 100%;
}

.slick-slide iframe {
  width: 100%;
  max-height: 375px;
  height: 100%;
  border: none;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.my-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 20px;
  margin: 0 12px;
  padding: 0px;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 140px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 0.75;
}

.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../../public/images/slider-dot.svg');
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.my-dots li.slick-active button:before {
  opacity: 1;
  color: black;
}
