.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  position: relative;
  cursor: pointer;
  filter: drop-shadow(-0.5px -1px 2px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(0.5px 1px 2px rgba(0, 0, 0, 0.4));

  &-moodBoard {
    max-height: 43px;
    height: 100%;
    max-width: 43px;
    width: 100%;
    margin-left: 15px;
  }

  &-article {
    max-height: 32px;
    height: 100%;
    max-width: 32px;
    width: 100%;
    margin-left: 20px;
  }

  &-podcast {
    max-height: 32px;
    height: 100%;
    max-width: 32px;
    width: 100%;
    //margin-left: 20px;
  }

  img {
    height: 100%;
    border-radius: 100%;
  }
}
