@import "node_modules/bootstrap/scss/bootstrap";
@import "variables/variables";
@import "mixins/mixins";
@import "fonts";
@import 'utils/bg-color';
@import 'utils/text-color';

@import "components/components";
@import "icons/icons";

html,
body {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-color: $bg-main;
  font-size: $font-size-base;
  color: $shark;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.marginBottom {
  position: relative;
  margin-bottom: 70px;
}

.btn-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}
