.wise-icon,
.wise-image {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.wise-logo {
  width: 42px;
  height: 42px;
  background-image: url('../../public/images/logo.svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: $font-size-icons;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1 .path1:before {
  content: "\e900";
  color: rgb(68, 183, 199);
}
.icon-1 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-share_blue .path1:before {
  content: "\e902";
  color: rgb(68, 183, 199);
}
.icon-share_blue .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-2 .path1:before {
  content: "\e904";
  color: rgb(68, 183, 199);
}
.icon-2 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-share_white .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-share_white .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(68, 183, 199);
}
.icon-3 .path1:before {
  content: "\e908";
  color: rgb(68, 183, 199);
}
.icon-3 .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-d:before {
  content: "\e90a";
}
.icon-4 .path1:before {
  content: "\e90b";
  color: rgb(68, 183, 199);
}
.icon-4 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-5 .path1:before {
  content: "\e90d";
  color: rgb(68, 183, 199);
}
.icon-5 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-6 .path1:before {
  content: "\e90f";
  color: rgb(68, 183, 199);
}
.icon-6 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-7 .path1:before {
  content: "\e911";
  color: rgb(68, 183, 199);
}
.icon-7 .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-8 .path1:before {
  content: "\e913";
  color: rgb(68, 183, 199);
}
.icon-8 .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-9 .path1:before {
  content: "\e915";
  color: rgb(68, 183, 199);
}
.icon-9 .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-add:before {
  content: "\e917";
}
.icon-addfavirites:before {
  content: "\e918";
}
.icon-addfavorite_empty:before {
  content: "\e919";
}
.icon-agreements:before {
  content: "\e91a";
}
.icon-archive:before {
  content: "\e91b";
}
.icon-attach:before {
  content: "\e91c";
}
.icon-Attention .path1:before {
  content: "\e91d";
  color: rgb(68, 183, 199);
}
.icon-Attention .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Attention .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bell:before {
  font-size: 20px;
  content: "\e920";
}
.icon-camera:before {
  content: "\e921";
}
.icon-change_1 .path1:before {
  content: "\e922";
  color: rgb(255, 255, 255);
}
.icon-change_1 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(32, 34, 34);
}
.icon-change_1 .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(32, 34, 34);
}
.icon-change:before {
  content: "\e925";
}
.icon-circle:before {
  content: "\e926";
}
.icon-close_scroll:before {
  content: "\e927";
}
.icon-close:before {
  content: "\e928";
}
.icon-copy:before {
  content: "\e929";
}
.icon-delete:before {
  content: "\e92a";
}
.icon-docs:before {
  content: "\e92b";
}
.icon-download:before {
  content: "\e92c";
}
.icon-drawing:before {
  content: "\e92d";
}
.icon-email .path1:before {
  content: "\e92e";
  color: rgb(137, 137, 137);
}
.icon-email .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-eraser:before {
  content: "\e931";
}
.icon-estimate:before {
  content: "\e932";
}
.icon-facebook .path1:before {
  content: "\e933";
  color: rgb(137, 137, 137);
}
.icon-facebook .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-favorites:before {
  content: "\e935";
}
.icon-focuse:before {
  content: "\e936";
}
.icon-folder:before {
  content: "\e937";
}
.icon-google:before {
  content: "\e938";
}
.icon-help_empty:before {
  content: "\e939";
}
.icon-help:before {
  content: "\e93a";
}
.icon-incoming:before {
  content: "\e93b";
}
.icon-info:before {
  content: "\e93c";
}
.icon-instagram .path1:before {
  content: "\e93d";
  color: rgb(137, 137, 137);
}
.icon-instagram .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instruments:before {
  content: "\e940";
}
.icon-kick:before {
  content: "\e941";
}
.icon-layers:before {
  content: "\e942";
}
.icon-lightning:before {
  content: "\e943";
}
.icon-lightoff:before {
  content: "\e944";
}
.icon-like_empty:before {
  content: "\e945";
}
.icon-like:before {
  content: "\e946";
}
.icon-line:before {
  content: "\e947";
}
.icon-linkedin .path1:before {
  content: "\e948";
  color: rgb(137, 137, 137);
}
.icon-linkedin .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkedin .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkedin .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-LMB:before {
  content: "\e94c";
}
.icon-location:before {
  content: "\e94d";
}
.icon-Logo {
  font-size: 42px;
}
.icon-Logo .path1:before {
  content: "\e94e";
  color: rgb(32, 34, 34);
}
.icon-Logo .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(32, 34, 34);
}
.icon-Logo .path3:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(68, 183, 199);
}
icon-Logo2 {
  //font-size: 22px;
}
.icon-Logo2 .path1:before {
  font-size: 20px;
  content: "\e94e";
}
.icon-Logo2 .path2:before {
  font-size: 20px;
  content: "\e94f";
  margin-left: -1em;
}
.icon-Logo2 .path3:before {
  font-size: 20px;
  content: "\e950";
  margin-left: -1em;
}
.icon-marker:before {
  content: "\e951";
}
.icon-Media:before {
  font-size: 20px;
  content: "\e952";
}
.icon-Message:before {
  font-size: 20px;
  content: "\e953";
}
.icon-messages:before {
  content: "\e954";
}
.icon-messure:before {
  content: "\e955";
}
.icon-moodboards:before {
  content: "\e956";
}
.icon-online:before {
  content: "\e957";
}
.icon-open_scroll:before {
  content: "\e958";
}
.icon-pay:before {
  content: "\e959";
}
.icon-pencil_tool:before {
  content: "\e95a";
}
.icon-pencil:before {
  content: "\e95b";
}
.icon-photo:before {
  content: "\e95c";
}
.icon-planner:before {
  content: "\e95d";
}
.icon-play:before {
  content: "\e95e";
}
.icon-Pointer_arrow:before {
  content: "\e95f";
}
.icon-PRO .path1:before {
  content: "\e960";
  color: rgb(68, 183, 199);
}
.icon-PRO .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(245, 246, 248);
}
.icon-remove_1:before {
  content: "\e962";
}
.icon-respond:before {
  content: "\e963";
}
.icon-RMB:before {
  content: "\e964";
}
.icon-Scene_settings:before {
  font-size: 20px;
  content: "\e965";
}
.icon-screenshot:before {
  content: "\e966";
}
.icon-search:before {
  content: "\e967";
}
.icon-send:before {
  content: "\e968";
}
.icon-Settings:before {
  content: "\e969";
}
.icon-share_empty:before {
  content: "\e96a";
}
.icon-share:before {
  content: "\e96b";
}
.icon-sketch:before {
  content: "\e96c";
}
.icon-square:before {
  content: "\e96d";
}
.icon-stack:before {
  content: "\e96e";
}
.icon-team:before {
  content: "\e96f";
}
.icon-teamleader:before {
  content: "\e970";
}
.icon-telegram .path1:before {
  content: "\e971";
  color: rgb(137, 137, 137);
}
.icon-telegram .path2:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-text:before {
  content: "\e973";
}
.icon-tools:before {
  content: "\e974";
}
.icon-top_empty:before {
  content: "\e975";
}
.icon-top:before {
  content: "\e976";
}
.icon-touch_1:before {
  content: "\e977";
}
.icon-touch_2:before {
  content: "\e978";
}
.icon-touch_3:before {
  content: "\e979";
}
.icon-touch_4:before {
  content: "\e97a";
}
.icon-triangle:before {
  content: "\e97b";
}
.icon-twitter .path1:before {
  content: "\e97c";
  color: rgb(137, 137, 137);
}
.icon-twitter .path2:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vimeo .path1:before {
  content: "\e97e";
  color: rgb(137, 137, 137);
}
.icon-vimeo .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-watch_empty:before {
  content: "\e980";
}
.icon-watch:before {
  content: "\e981";
}
.icon-whattsapp .path1:before {
  content: "\e982";
  color: rgb(137, 137, 137);
}
.icon-whattsapp .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-WiseSpace:before {
  content: "\e984";
}
.icon-youtube .path1:before {
  content: "\e985";
  color: rgb(137, 137, 137);
}
.icon-youtube .path2:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

