//Main colors
$main: #44B7C7;
$bg-main: #E5E5E5;
$white: #FFFFFF;
$black: #000;

//Error colors
$red: #FF0000;

//Text color
$shark: #202222;
$link-color: #44B7C7;

//Gray
$gray-athens: #F5F6F8;


//Colors map
$colors: (
  'main': $main,
);

