// reusable placeholders
%input-container {
    position: relative;
}

%input-placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);
    max-width: 100%;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e9ecef;

    [dir='rtl'] & {
        left: auto;
        right: 0;
    }
}

%input {
    position: relative;
    z-index: 2;
    width: 100%;
    border: 0;
    outline: 0;
    color: black;
    background-color: transparent;
    line-height: 1.2;
}
