@import '../fonts';

// General typography variables
$font-family: Comfortaa, 'Helvetica Neue', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-lightbold: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;
$font-size-icons: 1.1rem;

// H1 font style
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.25;
$h1-font-style: normal;

// H2 font style
$h2-font-size: $font-size-base * 0.75;
$h2-letter-spacing: 0.0625rem;
$h2-text-transform: uppercase;

// H3 font style
$h3-font-size: $font-size-base;
$h3-letter-spacing: 0.025rem;

// H4 font style
$h4-font-size: $font-size-base * 0.875;

// H5 font style
$h5-font-size: $font-size-base * 0.75;
$h5-letter-spacing: 0.083333334em;
$h5-text-transform: uppercase;
$h5-font-weight: $font-weight-bold;

// H6 font style
$h6-font-size: $font-size-base * 0.75;
$h6-line-height: 1.25em;
